<!-- Sidebar navigation -->
<div style="margin-top: 20px" class="container">
    <div class="row">

        <!-- Main content -->
        <div class="jumbotron jumbotron-fluid">
            <div class="">

                <img style="width: 1160px; height:350px ;" src="https://png.pngtree.com/thumb_back/fw800/back_pic/00/08/57/41562ad4a92b16a.jpg">

            </div>
            <!-- Show user data when logged in -->
            <div style="margin-right: 20px; margin-left: 20px" class="row" *ngIf="authService.userData as user">

                <div class="row ">
                    <div class="col-md-6">
                        <div style=" margin-left: 100px" class="row">
                            <div class="col-md-6 col-md-6-sm-6 col-xs-6 user-image text-center">
                                <img style="margin-left: -10px; width: 50%; height: 100%;" src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 user-detail-section1 text-center">
                                <br>
                                <button id="btn-contact" (click)="clearModal()" data-toggle="modal" data-target="#contact" class="btn btn-success btn-block follow">Contactarme</button>
                                <button class="btn btn-warning btn-block">Subir Curriculum</button>


                            </div>

                        </div>

                    </div>



                    <div class="col-md-6">
                        <h1 style="font-size: 18px">Datos personales</h1>
                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item "><label>Nombre: </label><strong> Alfredo Cuy Chavez</strong></li>
                            <li class="list-group-item"><label>Fecha nacimiento: </label><strong> 27/11/1999</strong></li>
                            <li class="list-group-item"><label>CURP: </label><strong> 	CUCA991127HQRYHL07</strong></li>
                            <li class="list-group-item"><label>Correo: </label><strong> {{user.email}}</strong></li>
                            <li class="list-group-item"><label>Estatus: </label><strong> {{user.emailVerified}}</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <br> <br>
                        <h1 style="font-size: 18px">Datos de la escuela</h1>
                        <ul class="list-group ">
                            <li class="list-group-item"><label>Nombre escuela: </label><strong>Universidad Tecnologica</strong></li>
                            <li class="list-group-item"><label>Numero matricula: </label><strong>17391047</strong></li>
                            <li class="list-group-item"><label>Seguro facultativo: </label><strong> Sí</strong></li>
                            <li class="list-group-item"><label>Grado: </label><strong>7 cuatrimestre</strong></li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <br>
                        <br> <br>
                        <h1 style="font-size: 18px">Datos como profesor</h1>
                        <ul class="list-group">
                            <li class="list-group-item"><label>Numero de alumnos: </label><strong>5</strong></li>
                            <li class="list-group-item"><label>Cursos impartidos: </label><strong>6</strong></li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </div>