<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-0 px-0 ml-lg-5 ml-md-2 col-9 col-md-5 col-lg-9" href="#">
    <div class="input-group">
      <input type="text" class="form-control" style="background: transparent" placeholder="Busca tus intereses" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="button">Button</button>
      </div>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="publicaciones">Publicaciones</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/sign-in" type="submit">Login</button>
    </li>
    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>
<footer class="blog-footer">
  <p>Todos los derechos reservados a JUVALE &trade;.</p>
  <p> Hecho con Amor, Tacos y poder Mexicano. ❤ </p>
  <p>
    <a href="#">Volver al inicio</a>
  </p>
</footer>
