<div class="container">
  <h1 style="text-align: center"><strong>Derivadas aplicadas </strong></h1>
  <div class="jumbotron p-3 p-md-5 text-white rounded mt-4"
    style="background-image: url('assets/img/student.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="col-md-12 px-0">
      <h1 class="display-4 font-italic text-center">Title of a longer featured blog post</h1>
    </div>
  </div>

  <div>



    <div class="cuerpo">
      <h6><strong> Fecha: 29/09/2019 </strong></h6>
      <h6><strong> Por: Alejandra Roman</strong></h6>

      <h2 style="text-align: center">What is Lorem Ipsum?</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>

      <img class="imagen" src="/assets/img/undraw_science_fqhl.png" alt="">
      <br>
      <br>
      <h2 style="text-align: center">What is Lorem Ipsum?</h2>
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
        packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
        will
        uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
        accident, sometimes on purpose (injected humour and the like).

      </p>
    </div>

  </div>
  <br>
  <br>
  <hr>

  <h4> <strong>MÁS ARTÍCULOS PARECIDOS </strong></h4>
  <br>
  <br>
  <div class="card flex-md-row mb-4 box-shadow ">
    <div class="card-body col-sm-12 col-lg-8 d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">Matemáticas</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#"> <strong> Derivadas Aplicadas.</strong></a>
      </h3>
      <div class="mb-1 text-muted">Nov 12</div>
      <p class="card-text mb-auto">Con frecuencia en la vida, nos enfrentamos con el problema de encontrar la mejor...
      </p>
      <a routerLink="/articulo">Continuar leyendo</a>
    </div>
    <div class="card-img-right col-4 flex-auto d-none d-md-block" data-holder-rendered="true">
      <img style="height: 200px; margin-top: 10%;" src="assets/img/undraw_mathematics_4otb.svg">
    </div>
  </div>
  <div class="card flex-md-row mb-4 box-shadow ">
    <div class="card-body col-sm-12 col-lg-8 d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">Matemáticas</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#"> <strong> Derivadas Aplicadas.</strong></a>
      </h3>
      <div class="mb-1 text-muted">Nov 12</div>
      <p class="card-text mb-auto">Con frecuencia en la vida, nos enfrentamos con el problema de encontrar la mejor...
      </p>
      <a routerLink="/articulo">Continuar leyendo</a>
    </div>
    <div class="card-img-right col-4 flex-auto d-none d-md-block" data-holder-rendered="true">
      <img style="height:200px; margin-top: 10%;" src="assets/img/undraw_mathematics_4otb.svg">
    </div>
  </div>
</div>